body, .container-fluid {
	margin: 0;
	padding: 0;
}

a {
	position: absolute;
	right: 50px;
	top: 20px;
	font-size: 20px;
	color: #ffffff;
}

.title {
	position: fixed;
	width: 100%;
	background-color: #000000c2;
	text-align: center;
}

.info {
	font-size: 25px;
	margin: 10px 30px;
}

h1 {
	color: #ffffff;
	margin: 0;
	font-size: 60px;
	font-weight: 600;
}

footer {
	background-color: #000;
	height: 250px;
	color: #000;
	padding-top: 170px;
	text-align: center;
}

footer p {
	color: #fff;
	font-size: 20px;
	margin-top: -70px;
}